<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>haikus</h1>
    <p>
      Click here to set a new password for your haikus account!
    </p>
  </body>
</html>