<h1>Reset Password</h1>
<%= form_for @user, method: :patch, url: enter_email_path do |form| %>
  <div><%= form.text_field :email, placeholder: 'Email' %></div>
  <div><%= form.submit 'Submit' %></div>
<% end %>
