a {
  text-decoration: none;
}

.error_messages {
  color: #ff0033;
}

#user_nav {
  text-align: right;
  margin-top: 2em;
}

#user_nav ul li {
  display: inline-block;
}

#user_nav ul li a {
  text-decoration: none;
  padding: 0.75em 2em;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 1.75em;
  font-weight: bolder;
  left: 1em;
  position: absolute;
  text-transform: uppercase;
  top: 0.75em;
  box-sizing: border-box; }

#navbar ul {
  padding-left: 17em;
  margin: 0;
}

#navbar ul li {
  display: inline-block;
  padding: 0.75em 2em;
  margin: 0;
}

#menu ul
{
  margin-bottom: 25px;
  padding: 0;
}

#menu ul li
{
  list-style-type: none;
  display: inline;
}

#menu li:before {
  content: " | ";
}

#menu li:first-child:before {
  content: none;
}
