.error_messages {
  color: #ff0033;
}

#user_nav {
  text-align: right;
  margin-top: 2em;
}

#user_nav ul li {
  display: inline-block;
}

#user_nav ul li a {
  text-decoration: none;
  padding: 0.75em 2em;
}
